# Provide your own values in .env.test to run tests
REGION="us-east-1"
REFRESH_TOKEN="Atzr|IwEBIH5M6uib0S46ECxrIMtOUS0XDlKqzThWc9OjQABlUVOBkn2eRpKhHODKxmzPDeLZJ9zqDzf4Q3mtTAUGZTd2Bih9vY1gPkmD5ZYZwVDsL8tAYvlCtAZjlAJ7DnaMbJGQk6GBaxBodfEqJkVr_hwzZhrYLVrVMSCJfF-GZnvRc_yWo_WCPqxuFOY_dV2sxwY318mE37_j00EHdNly2lZO-IbniGsT8psNbBfjbHFqvUiBYfgTocPtRe12_F9dwwFfHnjVGkg33To7LjQc-oJRhgIuwFFUbyvOxCHwsZIAls0ajriZi_bDM3pW5UAH6AlIPPs"
SELLING_PARTNER_APP_CLIENT_ID="amzn1.application-oa2-client.5ba84d149e8a44b888d930b71e4ec629"
SELLING_PARTNER_APP_CLIENT_SECRET="ec10f484f349b80a225eedd2e00be926992c8215e052311e6d2cf2cbd2da0865"
AWS_DEFAULT_REGION="us-east-1"
AWS_ACCESS_KEY_ID="ASIA6KWVU7YB3XKP6K4V"
AWS_SECRET_ACCESS_KEY="qWedO/2S6D9s2RH4h3Bjpmjo8Y3ynFu6EHr7FkZN"
AWS_SELLING_PARTNER_ROLE="AROA6KWVU7YB5TP4IDZBH:AmazonSeller24"
MARKETPLACE_ID="A2Q3Y263D00KWC"
ASIN="B09CHK13SK"
COUNTRY_CODE="US"
CURRENCY_CODE="USD"

# The following values are optional
# --> i.e. if the account to test with doesn't sell any products these values can't be provided
# --> Tests relying on these values will be skipped if not provided
SKU="27-01-22 -AA - teste"
ORDER_ID=
SELLER_ID="A12ZW5F2C6LX3M"
ASIN2="B07Y8ZH53G"
SKU2=